USE [master]
GO
/****** Object:  Database [ResourceDatabase]    Script Date: 8/11/2021 10:00:42 PM ******/
CREATE DATABASE [ResourceDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ResourceDatabase', FILENAME = N'C:\Users\abelb\ResourceDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ResourceDatabase_log', FILENAME = N'C:\Users\abelb\ResourceDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResourceDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResourceDatabase]
GO
USE [ResourceDatabase]
GO
/****** Object:  Table [dbo].[Resource]    Script Date: 8/11/2021 10:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[resourceId] [int] IDENTITY(1,1) NOT NULL,
	[resourceKindId] [int] NOT NULL,
	[value] [float] NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[resourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceKind]    Script Date: 8/11/2021 10:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceKind](
	[resourceKindId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[resourceKindId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suscriber]    Script Date: 8/11/2021 10:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suscriber](
	[suscriberId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[mail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[suscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD FOREIGN KEY([resourceKindId])
REFERENCES [dbo].[ResourceKind] ([resourceKindId])
GO
USE [master]
GO
